<!DOCTYPE html>

<html>

<head>

<title>Analysis</title>

{% include "__bootstrap.html" %}

</head>

<body class="bg-light">

{% include "__navigation.html" %}

<div class="container mt-5">

<h2>

{{resume.file_name}}

</h2>

<hr>

<div class="card p-4">

<h4>

Overall Score

</h4>

<h2>

{{analysis.overall_score}}

</h2>

<hr>

<h4>

ATS Score

</h4>

<h2>

{{analysis.ats_score}}

</h2>

<hr>

<h4>

Summary

</h4>

<p>

{{analysis.summary}}

</p>

<hr>

<h4>

Strengths

</h4>

<pre>

{{analysis.strength}}

</pre>

<hr>

<h4>

Weaknesses

</h4>

<pre>

{{analysis.weakness}}

</pre>

<hr>

<h4>

Recommendations

</h4>

<pre>

{{analysis.recommendation}}

</pre>

<hr>

<h4>

Experience Level

</h4>

<p>

{{analysis.experience_level}}

</p>

<hr>

<h4>

Education

</h4>

<p>

{{analysis.education}}

</p>

<hr>

<h4>

Skills

</h4>

{% for skill in skills %}

<span class="badge bg-success">

{{skill.skill_name}}

</span>

{% endfor %}

</div>

</div>

</body>

</html>